html,
body {
  background-color: antiquewhite;
  color: #000;
  height: 100%;
}

#root {
  text-align: center;
}

.container-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-header {
  padding: 0.5rem;
}

.nav-header > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.myBtn {
  background-color: #5196f1;
  color: #000;
  margin: 1rem auto;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.image-description {
  color: rgb(11, 100, 194);
}

.footer {
  background-color: #000;
  color: #fff;
}

footer > p {
  margin: 0;
}
